{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="clients" class="s-clients">

        <div class="row s-clients__content-block width-sixteen-col">
            <div class="column xl-12 grid-block grid-section-split">

                <div class="section-header grid-section-split__header">
                    <div class="text-pretitle">Education</div>
                    <h2 class="text-display-title">
                        A strong academic foundation fuels my passion for technology.
                    </h2>
                </div> <!-- end section-header -->

                <div class="grid-section-split__primary">

                    <p class="lead">
                        <b>Bachelor of Computer Applications (BCA)</b><br>
                        University of Lucknow [2024-2027]
                    </p>
                    <p>
                        <b>Intermediate-"PCM"</b><br>
                        BDAK Inter College [2022-2023]
                    </p>
                    <p>
                        <b>Diploma in Computer Applications (DCA) </b><br>
                        UPCI [2023-2024]
                    </p>
                    <p>
                        <b>Summer Training and Internship<br>"Fullstack Web development" </b><br>
                        Techpile Technology Private Limited<br>
                        Lucknow [June 2025-August 2025]
                    </p>


                </div> <!-- end grid-section-split__primary -->

            </div> <!-- end column -->
        </div> <!-- end row -->


       


    </section> 

{% endblock %}