{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- expertise
            ----------------------------------------------- -->
            <section id="expertise" class="s-expertise">

                <div class="row s-expertise__content width-sixteen-col">
                    <div class="column xl-12 grid-block grid-section-split">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">Expertise</div>
                            <h2 class="text-display-title">
                                My key Skills
                            </h2>

                            <p class="lead">


                                Each of these skills reflects my dedication to building high-quality, user-centric
                                digital experiences. I strive to bring creativity, precision, and
                                consistency into everything I do.


                            </p>
                            <p class="lead">
                                I focus on building full-stack projects that solve real-life problems. I'm
                                proficient with development tools like GitHub, VS Code, and have used database systems
                                like MySQL. </p>
                        </div> <!-- end section-header -->

                        <div class="s-expertise__content-main grid-section-split__primary">

                            <div class="grid-list-items list-items show-ctr">
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Frontend Technology</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <ul>
                                            <p>
                                                <li><b>HTML5</b><br></li>
                                                <li><b>CSS3</b><br></li>
                                                <li><b>JavaScript</b><br></li>
                                                <li><b>Bootsrap</b><br></li>

                                            </p>
                                        </ul>
                                    </div>

                                </div> <!-- list-item -->
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Backend Technology</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <ul>
                                            <p>
                                                <li><b>Python</b><br></li>
                                                <li><b>Django(Framework)</b><br></li>


                                            </p>
                                        </ul>
                                    </div>

                                </div>

                                <!-- list-expertise__item -->
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Database</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <ul>
                                            <p>
                                                <li><b>MySQL</b><br></li>
                                                <li><b>SQLite</b><br></li>
                                            </p>
                                        </ul>
                                    </div>
                                </div>
                                <!--<div class="grid-list-items__item list-items__item">
                                <div class="grid-list-items__title list-items__item-header">
                                    <h3 class="list-items__item-title">Version Control</h3>
                                </div>
                                <div class="grid-list-items__text list-items__item-text">
                                    <ul>
                                        <p>
                                            <li><b>Git</b><br></li>
                                            <li><b>GitHub</b><br></li>
                                        </p>
                                    </ul>
                                </div>
                            </div>-->
                            </div> <!-- list-expertise__item -->
                            <!-- list-expertise__item -->

                        </div> <!-- grid-list-items -->
                    </div> <!-- end s-expertise__content-main -->

                    <!--<div class="s-expertise__content-btn grid-section-split__bottom">
                            <a href="services.html" class="btn btn--stroke u-fullwidth">View All Services</a>
                        </div>--> <!-- end s-about__content-btn -->

                </div> <!-- end grid-block-->
     <!-- end s-expertise__content -->

    </section> <!-- end s-expertise -->


{% endblock %}