{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="cta" class="s-cta">

        <div class="row row-x-center text-center">
            <div class="column xl-8 lg-12">

                <div class="s-cta__content">
                    <h2 class="text-display-title">
                        Featured Project
                    </h2>
                    <p class="lead">
                        A glimpse into my hands-on development journey- building practical solutions with real-world
                        impact. My project showcases not just my technical skills but also my approach to creating
                        user-focused, functional and responsive web applications.
                    </p>

                </div>

            </div>
        </div>

    </section> <!-- end s-cta -->

    <!-- # journal
        ================================================== -->
    <section id="journal" class="s-journal">

        <div class="row s-journal__content width-sixteen-col">
            <div class="column xl-12 grid-block">

                <div class="grid-full section-header text-center">
                    <h2 class="text-display-title">
                        E- Learning Web Application
                    </h2>
                    <div class="text-pretitle">An interactive online learning platform designed to simplify
                        education
                        through technology. This project reflects my understanding of full-stack development using
                        Django and Frontend technologies.</div>

                </div> <!-- end section-header -->

                <div class="grid-full s-journal__content-main grid-list-items">
                    <!--Technology Used Start-->
                    <div class="grid-list-items__item blog-card">
                        <div class="blog-card__header">

                            <h3 class="blog-card__title">Technology Used</h3>
                        </div>
                        <div class="blog-card__text">
                            <p>
                            <ul>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>Bootsrap</li>
                                <li>JavaScript</li>
                                <li>Python with Django Framework</li>
                                <li>MySQL</li>
                                <li>VS Code</li>
                                <li>Git & GitHub</li>
                            </ul>
                            </p>
                        </div>
                    </div> <!--Technology Used Start-->
                    <!--Key Features Start-->
                    <div class="grid-list-items__item blog-card">
                        <div class="blog-card__header">

                            <h3 class="blog-card__title">Key Features</h3>
                        </div>
                        <div class="blog-card__text">
                            <p>
                            <ul>
                                <li>Secure user authentication system (Sign up / Login)</li>
                                <li>Student dashbored with enrolled courses</li>
                                <li>Video lectures and downloadable recources</li>
                                <li>Admin panel to upload and manage content</li>
                                <li>Responsive layout for mobile and desktop</li>
                                <li>Clean UI and smooth navigation</li>
                            </ul>
                            </p>
                        </div>
                    </div><!--Key Features End-->



                </div> <!-- end grid-list-items -->

            </div> <!-- end grid-block-->
        </div> <!-- end s-journal__content -->

    </section> <!-- end s-journal -->



{% endblock %}